.display-container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.display-container .hanzi {
  font-size: 5vw;
}
.display-container .hanzi.hidden {
  span {
    visibility: hidden;
  }

  width: 6vw;
  height: 6.5vw;
  background: white;
  margin-top: 1vw;
  border: solid 1px black;
  border-radius: 0.3vw;
}

.show-hide-btn {
  width: unset;
  height: unset;
  margin-bottom: 1vw;
}

.display-container .pinyin {
  font-size: 1vw;
  font-weight: bold;
}

.display-container .english {
  font-size: 0.7vw;
  margin-top: 2vw;
}

@media (max-width: 800px) {
  .display-container .hanzi.hidden {
    span {
      visibility: hidden;
    }

    width: 25vw;
    height: 30vw;
    background: white;
  }

  .display-container .hanzi {
    font-size: 20vw;
  }

  .display-container .pinyin {
    font-size: 5vw;
  }

  .display-container .english {
    font-size: 3vw;
    margin-top: 5vw;
  }
}
